/* .App {
  text-align: center;
} */

.jumbotron {
  text-align: center;
  background: transparent;
  margin-bottom: 0;
}

.jumbotron > .container {
  display: flex;
  flex-direction: column;
}

.lead {
  color: white;
}

.display-4 {
  color: #8e6a23;
  width: 900px;
}

.jumbo-btn {
  background-color: white;
  width: 100px;
  margin-left: 37%;
}

.paral {
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.paralsec {
  background-image: url("./nautilus_mockup/assets/clover_card.jpg");
}